<div class="container-fluid about about-3">
	<h1><%= t(".Why_didn't_I_get_email?") %></h1>
	<br><br>
	<h2><%= t(".Check_your_email_receiveing_settings") %></h2>
	<p1><%= t(".receive_setting_of_qq") %></p1>
	<div class="row about-inner">
		<div class="col-12">
			<img alt="search" src="/images/get-mail-qq1.png" class="width-90 black-border">
		</div>
		<div class="col-12 center">
			<p2>
				<%= simple_format(t(".disc_1")) %><br>
			</p2>
		</div>
	</div>
</div>

<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_keywords"),
                    keywords: t(".meta_description") %>