<div id="home-top">
	<!-- ###### 検索フォーム ###### -->
	<div class="home-cl-search clearfix">
		<h1>カメラマンを探す</h1>
		<%= form_tag(clients_path, method: :get) do %>
			<%= render :partial => 'render/home_search' %>
			<%= submit_tag t(".search_btn"), class: "home-cl-search-btn prim-btn" %>
		<% end %>
	</div>
</div>

<div id="home-samples">
	写真コンテンツ
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あ<br>
	あああああああああああああああああああああああああああああ<br>
</div>


<!--   <%= text_field_tag :search %> -->


<!-- turbolinksでもselectbox読ませる設定 -->
<script>
$( document ).ready(function() {
  $('.selectpicker').selectpicker();
});
</script>