<div class="container-fluid register-container">
  <div class="row resigter-form-wrapper">
    <div class="col-12 col-md-4 offset-md-1">
      <h1><%= t(".contact_us")%></h1>
      <br>
      <p>camera_to_culture@yahoo.co.jp</p>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div class="col-md-5 offset-md-1 d-none d-md-block">




    </div>
  </div>
</div>