<div class="container-fluid about about-1">
	<p1>その瞬間にしかない価値を切り取る写真</p1>
	<br>
	<p1>Camera-to-Cultureは</p1>
	<p1>全てのひとへ</p1>
	<p1>「写真撮影をもっと身近にする」</p1>
	<p1>お手伝いをします</p1>
</div>

<div class="container-fluid about about-2">
	<p2>子供が生まれたこのタイミングで、家族写真を</p2>
	<p2>自分の宣材写真を</p2>
	<p2>自然に恋人との旅行中の写真を</p2>
	<p2>結婚式用の写真を</p2>
	<p2>飲食店のメニュー表に使う写真を</p2>
	<br>
	<br>
	<br>
	<br>
	<p1>色んな「撮りたい」と</p1>
	<p1>色んな「撮ってほしい」を</p1>
	<p1>より自由に結ぶことを目指しています</p1>
</div>

<%= render :partial => 'abouts/how_to_use' %>