<div class="container-fluid about about-1">
	<p1>その瞬間にしかない価値を切り取る写真</p1>
	<br>
	<p1>Camera-to-Cultureは</p1>
	<p1>全てのひとへ</p1>
	<p1>「写真撮影をもっと身近にする」</p1>
	<p1>お手伝いをします</p1>
</div>

<div class="container-fluid about about-2">
	<p2>子供が生まれたこのタイミングで、家族写真を</p2>
	<p2>自分の宣材写真を</p2>
	<p2>自然に恋人との旅行中の写真を</p2>
	<p2>結婚式用の写真を</p2>
	<p2>飲食店のメニュー表に使う写真を</p2>
	<br>
	<br>
	<br>
	<br>
	<p1>色んな「撮りたい」と</p1>
	<p1>色んな「撮ってほしい」を</p1>
	<p1>より自由に結ぶことを目指しています</p1>
</div>

<div class="container-fluid about about-3">
	<div class="row">
		<div class="col-8 offset-2 col-md-6 offset-md-3">
			<img alt="matching" src="/images/about-1.png">
		</div>
	</div>
	<p1>簡単にカメラマンを探すことができます</p1>
	<p1></p1>


	あ<br>あ<br>あ<br>あ<br><br>
	<div class="container">
		<div class="row">
			<div class="cl-show-1-left col-3 col-sm-3 col-md-2">
				あ<br>あ<br>あ<br>あ<br><br>
			</div>
			<div class="cl-show-1-middle col-9 col-sm-9 col-md-7">
				い<br>い<br>い<br>い<br><br>
			</div>
			<div class="cl-show-1-right col-12 col-sm-12 col-md-3">
				う<br>う<br>う<br>う<br><br>
			</div>
		</div>
	</div>
	あ<br>あ<br>あ<br>あ<br><br>
</div>

<div class="container-fluid about about-4">
	<h1>あああああああ</h1>
	あ<br>あ<br>あ<br>あ<br><br>
</div>
