<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_keywords"),
                    keywords: t(".meta_description") %>

<div class="container terms_of_service">
	<%= render :partial => 'abouts/terms_of_service_cs' %>
</div>