<div class="container-fluid about about-1">
	<h1>あああああああああああ</h1>
	<h1>あああああああああああ</h1>
<!-- 	<div class="row">
		<div class="col-8 offset-2 col-md-6 offset-md-3">
			<img alt="matching" src="/images/about-1.png">
		</div>
	</div> -->
	<h1>あああああああああああ</h1>
	<h1>あああああああああああ</h1>
</div>

<div class="container-fluid about about-2">
	<h1>ああああああああ</h1>
	<div class="container">
		<div class="row">
			<div class="cl-show-1-left col-3 col-sm-3 col-md-2">
				あ<br>あ<br>あ<br>あ<br><br>
			</div>
			<div class="cl-show-1-middle col-9 col-sm-9 col-md-7">
				い<br>い<br>い<br>い<br><br>
			</div>
			<div class="cl-show-1-right col-12 col-sm-12 col-md-3">
				う<br>う<br>う<br>う<br><br>
			</div>
		</div>
	</div>
	あ<br>あ<br>あ<br>あ<br><br>
</div>

<div class="container-fluid about about-3">
	<h1>ああああああああ</h1>
	あ<br>あ<br>あ<br>あ<br><br>
</div>

<div class="container-fluid about about-4">
	<h1>あああああああ</h1>
	あ<br>あ<br>あ<br>あ<br><br>
</div>
