<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_description"),
                    keywords: t(".meta_keywords") %>

<div class="container-fluid about about-3 use-with-phone">
	<h1><%= t(".Use_with_iphone") %></h1>
	<br><br>

	<p><%= t(".please_add_to_home") %></p>
	<div class="row about-inner">
		<div class="col-12">
			<img alt="iphone-1" src="/images/use-iphone-1.png" class="img-phone">
			<img alt="iphone-2" src="/images/use-iphone-2.png" class="img-phone">
			<img alt="iphone-3" src="/images/use-iphone-3.png" class="img-phone">
			<img alt="iphone-4" src="/images/use-iphone-4.png" class="img-phone">
		</div>
	</div>

</div>