// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$prim-col      : #FF8000;
$subprim-col      : #51C4AA;






.about{
	text-align: center;
	padding: 100px 0;
	.about-inner{
		margin-bottom: 100px;
	}
}


@media screen and (min-width:1000px){
	.about{
		p1{
			display: block;
			font-size: 25px;
			margin-bottom: 10px;
		}
		p2{
			display: block;
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width:999px){
	.about{
		p1{
			display: block;
			font-size: 20px;
		}
		p2{
			display: block;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width:599px){
	.about{
		p1{
			display: block;
			font-size: 17px;
		}
		p2{
			display: block;
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width:299px){
	.about{
		p1{
			display: block;
			font-size: 17px;
		}
		p2{
			display: block;
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
}






.about-1{
	background-color: $subprim-col;
	color: #FFFFFF;
}

.about-2{

}

.about-3{
	background-color: $subprim-col;
	color: #FFFFFF;
}

.about-4{
	background-color: red;
}


.img-phone{
	height: 360px;
	margin: 10px 0;
}
.about-btn{
	width: 200px;
	display: inline-block;
	font-size: 18px;
	background-color: $prim-col;
	color: #FFFFFF;
	border-radius: 5px;
	border: none;
	padding: 5px 0;
	margin: 8px 0;
}
.about-btn:hover{
	color: #FFFFFF;
	text-decoration: none;
}







.terms_of_service{
	padding: 80px 30px;
}