/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */



@import "bootstrap";
@import "bootstrap-select.min";
@import "fileinput-rtl.min";
@import "fileinput.min";
@import "clients";
@import "customers";
@import "events";
@import "event_states";
@import "homes";
@import "messages";
@import "users";
@import "abouts";
@import "client_schedules";
@import "client_portfolios";
@import "lightbox.min";





//--------------- 共通 ----------------//
$prim-col      : #FF8000;
$subprim-col      : #51C4AA;

.big-prim-btn{
  padding: 20px 35px;
  background-color: $prim-col;
  color: #FFFFFF;
  border-radius: 15px;
  border: none;
  font-weight: 800;
  letter-spacing: 0.1em;
}
.prim-btn{
  height: 38px;
  background-color: $prim-col;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}
.subprim-btn{
  height: 38px;
  background-color: $subprim-col;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

.prim-back{
  background-color: $prim-col;
}
.subprim-back{
  background-color: $subprim-col;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}

.bold{
  font-weight: 800;
}
.indent{
  padding-left: 30px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-auto{
  margin: 0 auto;
}

.maring-b-20{
  margin-bottom: 20px;
}


//--------------- 対策 ----------------//
pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}



//--------------- layout ----------------//
html{
  height: 100%;
}
body{
  height: 100%;
}
#contents{
  height: 100%;
  margin-top: 56px;
}




//------------- グロナビ ---------------//
$nav_bg      : #000000;
$nav_col     : #FFFFFF;
.navbar {
  margin: 0;
	border-radius: 0;
  background-color: $nav_bg;
  border: none;
  color: $nav_col;
  background-color: $nav_bg;
  a {
    color: $nav_col;
  }
  .dropdown-menu{
    background-color: $nav_bg;
  }
}
.navbar-brand{
  padding: 0;
  .nav-logo-img{
    height: 40px;
  }
}



//------------- フッター ---------------//
footer{
  background-color: #000000;
  a, a:hover{
    color: #FFFFFF;
    text-decoration: none;
  }
  color: #FFFFFF;
  hr{
    border-color: #FFFFFF;
  }
  .footer-upper-md{
    p{
      margin: 16px 0;
    }
  }
  .footer-upper-sm{
    text-align: center;
    padding-top: 16px;
    a{
      margin: 16px 0 0 0;
      padding: 0;
    }
  }
  .footer-bottom{
    padding-bottom: 16px;
    #footerDropdown{
      color: #FFFFFF;
      text-decoration: none;
      padding: 0;
    }
  }
  .footer-bottom-space{
    height:90px;
  }
}



//----------------- pagenatiom ------------------//
.pagination{
  .active .page-link{
    background: #000000;
    border-color: #000000
  }
  .page-link{
    color: #000000;
  }
}





//------------- devise, notice alert ---------------//
.notice, .alert{
  text-align: center;
  background-color: #FF8000;
  color: #FFFFFF;
  margin:0;
}





//---------------チェックボックス---------------//
.checkbox {
  span{
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .btn:hover {
      cursor: pointer !important;
  }

  .btn:active {
      box-shadow: 0 1px #666 !important;
      transform: translateY(2px) !important;
  }
  .btn {
      box-shadow: 0 3px #999;
      text-align: center;
  }
  .btn-sık {
      transition: all 0.2s ease;
      background-color: white ;
      border: 2px solid $subprim-col !important;
      box-shadow: 0 3px $subprim-col !important;
      min-width: 100px;
      border-radius: 20px;
  }
      btn-sık::selection{
          background: green;
      }

  input[type="checkbox"] {
       position: absolute;
    visibility: hidden;
  }

  input[type="checkbox"] + div {
      position: relative;
  }
  input[type="checkbox"]:checked + div {
    background-color: $subprim-col;
  }
  input[type="checkbox"]:checked + div>span {
    color: black;
  }
  input[type="checkbox"] + div>span {
  position: relative;
  top: 25%;}

  input[type="checkbox"]:checked + div::before {
      content:"✔";
      position: absolute;
      bottom: 18px;
      right: 0px;
      font-size: 21px;
      color: white;
  }
}

.checkbox-white{
  .btn-sık {
      transition: all 0.2s ease;
      background-color: white ;
      border: none !important;
      box-shadow: 0 3px #FFFFFF !important;
      min-width: 100px;
      border-radius: 20px;
  }
  input[type="checkbox"]:checked + div {
    background-color: #FFFFFF;
  }
}



//------------- bootstrap select ---------------//
/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
  background-color: #f4f4f4;
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
}
.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}
.bootstrap-select .check-mark {
  line-height: 14px;
}
.bootstrap-select .check-mark::after {
  content: "\f00c";
}
.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}