// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$prim-col      : #FF8000;
$subprim-col      : #51C4AA;


//------------- event/new ---------------//
.ev-new{
	text-align: center;
	h1{
		padding: 35px 0 ;
	}
	h2{
		font-size: 25px;
		font-weight: 800;
		margin: 60px 0 10px;
	}
	textarea{
		max-width: 100%;
		width: 400px;
	}
}

.ev-new-1{
	background-color: $subprim-col;
	padding: 10px 0;
	.ev-new-cl{
		margin-bottom: 30px;
		img{
			width: 100px;
		}
	}
	#time-validation, #time-validation-2{
		color: red;
		font-weight: 800;
	}
	.ev-new-place{
	}
	.ev-new-people{
		input{
			width: 80px;
			text-align: right;
		}
	}
	.ev-table{
		table{
			text-align: left;
			thead{
				background-color: #E6E6E6
			}
			tbody{
				background-color: #FFFFFF;
			}
		}
	}
	.ev-new-option{
		input{
			width: 40px;
			text-align: right;
		}
	}
	.ev-fee{
		.TotalFee{
		border-top: 2px #000000 solid;
		}
	}
	.ev-new-submit{
		margin: 80px 0 40px;
	}
}


//------------- event/new ---------------//
.ev-show{
	text-align: center;
	background-color: $subprim-col;
	h1{
		text-align: center;
		font-size: 25px;
		font-weight: 800;
		padding: 60px 0 10px;
	}
	h2{
		margin: 60px 0 10px;
		font-weight: 100;
		font-size: 15px;
	}
	.ev-show-square{
		text-align: left;
		width: 100%;
		padding: 15px;
		border-radius: 20px;
		background-color: #FFFFFF;
		border: #E6E6E6 solid 1px;
	}
	.ev-show-names{
		font-weight: 800;
		width: 290px;
		padding-top: 100px;
		margin: 0 auto 20px;
	}
	.ev-show-icons{
		margin: 0 auto;
		width: 290px;
		height: 110px;
		background-image: image-url("event-users.png");
		background-size: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		img{
			border-radius: 10px;
			width: 110px;
			height: 110px;
			object-fit: cover;
		}
	}
}