// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$prim-col : #CF1820;
$subprim-col : #92C1EC;
$subprim-col-2 : #E2EEF9;
$black-col : #000000;
$white-col : #FFFFFF;



@media screen and (min-width: 550px) {
	#home-top{
		height: 100%;
		background-image: image-url("home-top.png");
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: center; /*左右中央揃え*/
		align-items: center;		/*上下中央揃え*/
		h1{
			font-size: 25px;
			font-weight: 800;
			color: $white-col;
			margin: 0 auto 10px;
			text-align: center;
		}
		.home-cl-search{
			.search-category, .search-area, .search-btn{
				float: left;
			}
			.home-cl-search-btn{
				width:100px;
			}
		}
	}
}
@media screen and (max-width: 549px) {
	#home-top{
		height: 100%;
		background-image: image-url("home-top-sm.png");
		background-position: center;
		display: flex;
		background-size: cover;
		justify-content: center; /*左右中央揃え*/
		align-items: center;		/*上下中央揃え*/
		h1{
			font-size: 25px;
			font-weight: 800;
			color: $white-col;
			margin: 0 auto 10px;
			text-align: center;
		}
		.home-cl-search{
			text-align: center;
			.search-category, .search-area{
				margin-bottom: 10px;
			}
			.search-btn{
			}
			.home-cl-search-btn{
				width:220px;
			}
			form{
				.dropdown-menu{
					max-width: 280px;
				}
			}
		}
	}
}
