// Place all the styles related to the users controller here.
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$prim-col : #CF1820;
$subprim-col : #92C1EC;
$subprim-col-2 : #E2EEF9;
$black-col : #000000;
$white-col : #FFFFFF;

// ---------- ユーザーページ共通 -----------//
.mypage-container{
	h1{
		font-size: 20px;
		font-weight: bold;
	}
	.mypage-menu{
		padding: 10px 0 0;
		a{
			color: #000000;
			text-decoration: none;
		}
 		.mypage-subtitle{
 			margin: 15px 0;
 		}
		.mypage-subtitle-sub{
			width: 80%;
			margin: 0 0 20px 10px;
		}
		.selected{
			font-weight: 900;
			background-color: $subprim-col;
			color: $white-col;
			border-radius: 4px;
		}
		.mypage-menu-btn-sm{
			margin: 0;
			text-align: center;
			font-size: 12px;
			font-weight: 800;
		}
		#mypage-menu-submenu{
			padding: 20px 0;
		}
		.mypage-menu-sm{
			font-size: 14px;
			text-align: center;
			.mypage-menu-sm-btn{
				width: 100%;
				margin-bottom: 15px;
			}
		}
		.pushed{
		  display: inline-block;
		  padding: 0.5em 1em;
		  text-decoration: none;
		  background: $subprim-col;
		  color: $white-col;
		  border-radius: 3px;
		  -ms-transform: translateY(4px);
		  -webkit-transform: translateY(4px);
		  transform: translateY(4px);
		  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
		  border: solid 1px $subprim-col;
		}
	}
	.mypage-content{
		padding: 30px 15px;
		background-color: $white-col;
		.field{
			margin-bottom: 60px;
			.input-text{
				width: 100%;
				height: 40px;
				border-radius: 5px;
			}
			.input-textarea{
				width: 100%;
				height: 150px;
				border-radius: 5px;
			}
		}
		.user-image{
			img{
				width:auto;
				height:auto;
				max-width:230px;
				max-height:400px;
			}
		}
	}
}


.field-explanation{
	font-size: 13px;
	font-weight: 400;
}



//---------- users/show -----------//
@media screen and (max-width:700px){
	.user-show-wrapper{
	}
}

@media screen and (min-width:701px){
	.user-show-wrapper{
		padding: 0 40px;
	}
}

.user-show-alert{
	.fusen{
		width:290px;
		position:relative;
		z-index:0;
		ul{
			font-family: "serif", "Comic Sans MS";
			font-weight: 800;
			padding-left: 0;
			a, a:hover{
				color: #000000;
				text-decoration: none;
			}
			li {
				list-style: none;
				font-size: 15px;
				margin: 25px 0;
				padding: 25px;
				position: relative;
				/* グラデーションで折り目がついた感じに */
				background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
			}
			li::after{
				content:" ";
				display:block;
				position: absolute;
				z-index: -1;
				bottom: 5px;
				right: 0;
				height: 15px;
				width: 99%;
				background: rgba(0,0,0,0.5);
				box-shadow: 0 5px 5px rgba(0,0,0,0.3);
				transform: rotate(2deg);
			}
			a:nth-child(odd) li { /* 奇数番のli */
				background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
			}
			a:nth-child(even) li { /* 偶数番のli */
				background: linear-gradient(to right, #FDF8E6 0%, #F5ECDA 0.5%, #F5ECDA 13%, #FDF8E6 16%);
				margin: 1.6em 0em !important;
			}
		}
	}
}

.user-show-info{
	h2{
		font-size: 15px;
		font-weight: 800;
		padding-top: 8px;
	}
	img{
		width:auto;
		height:auto;
		max-width:200px;
		max-height:200px;
		border-radius: 20px;
	}
	a, a:hover{
		padding-left: 20px;
		color: #808080;
		font-size: 10px;
		text-decoration: none;
	}
}


.log-out-btn, .log-out-btn:hover{
	width: 100px;
	text-decoration: none;
	color: #7F7F7F;
	text-align: center;
}


//---------- clients/edit -----------//





//---------- client_contacts/new -----------//
#terms_of_service{
	width:95%;
	height:200px;
	overflow:auto;
	margin: 20px auto;
	padding: 20px;
	border:solid 1px;
	border-radius: 5px;
}



//---------- devise -----------//
.register-container{
	padding-top: 56px; //for_topnav_margin
	background-color: $subprim-col;
	text-align: center;
	.resigter-form-wrapper{
		padding: 70px 0 150px 0;
		h1{
			font-size: 20px;
			font-weight: bold;
		}
		.fb-register-wrap{
				width: 200px;
				height: 30px;
				margin: 0 auto;
				background-color: #2D4385;
				border-radius: 5px;
				border: none;
			.fb-register{
				color: #FFFFFF;
			}
		}
		.resigter-form{
			text-align: left;
			label{
				margin-bottom: 5px;
				font-weight: bold;
			}
			.field{
				margin-bottom: 20px;
				.input-text{
					width: 100%;
					height: 40px;
					border-radius: 5px;
				}
			}
		}
	}
}
.devise_shared a{
	color: #000000;
}








